/*
 *  HOME INTRO
 *  First screen/above the fold
 *
 */

/*
 *  HOME INTRO
 *  First screen/above the fold
 *
 */

.homeIntro {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  cursor: pointer;
  left: 0;
  background-attachment: fixed;
}

.homeIntroVideo {
  flex: 1;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

